{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Terminar tr치mite {{ entity }}{% endblock %}

{% block content %}
El tr치mite fue finalizado.

{% if comprob %}
Se gener칩 un comprobante.
{% endif %}

<a class="btn btn-default hidden-print" href="{{ path(baseroute ~ '_listar') }}">Volver al listado de tr치mites</a>
{% endblock %}