<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <title>Sistema de Requerimientos</title>

</head>

<body>
    {% block pagina_contenido %}
    <header>

        <hgroup>

            <h1>Municipio de Rio Grande</h1>

            <h2>Seguimiento de requerimientos</h2>

        </hgroup>

    </header>
        <article>

            <header>

                <h1>Sistema de envio automatizado</h1>

            </header>

            
        </article>

    <aside>

        <section>

            <h1>Usted puede ingresar a su requerimiento haciendo click en el siguiente enlace</h1>

            <ul>

                <li><a href="#">Hola soy un link, vengo a linkear</a></li>

            </ul>

        </section>

    </aside>

    <footer>Footer - Las Islas Malvinas, Georgias y Sandiwch del sur son y seran Argentinas</footer>
{% endblock %}
</body>

</html> 
