{% if paginar %}
<div class="navigation hidden-print">
	<span class="sr-only">Páginas: </span> {{
	knp_pagination_render(entities,
	'TapirTemplateBundle:Form:pagination.html.twig') }}
</div>
{% endif %}
