<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>{{ tapir_nombreaplicacion }} - {% block pagina_titulo %}{%
	endblock %}</title>
<link rel="icon"
	href="{{ asset('bundles/yacarebase/images/yacare_logo64.png') }}" />
</head>

<body>{% block pagina_contenido %} {% endblock %}
</body>
</html>