{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Buscar comercio{% endblock %}

{% block pagina_contenido %}
{% set destcontrol = app.request.get('destcontrol') %}

{% include 'YacareComercioBundle:Comercio:buscarinicio.html.twig' %}

<div id="resultadosbuscar">
    
</div>

<script>
    function seleccionarItem(id, detalle) {
        tapirEntityIdSeleccionarItem('#{{ destcontrol }}', id, detalle);
        $('#modal').modal('hide');
        $('#modal').html('(re)Cargando...');
    }
     
    function buscarTexto(a) {
        var url = '{{ path(baseroute ~ '_buscarresultados') }}?filtro_buscar=' + a;
        tapirCargarUrlEn(url, '#resultadosbuscar');
    }
    
    $('#filtro_buscar').focus();
</script>
{% endblock %}

{% block pagina_acciones %}
{% endblock %}