{% extends terminado is defined and terminado ? 'TapirBaseBundle:Persona:cambiarContrasenaListo.html.twig' : 'TapirBaseBundle:Default:editar.html.twig' %}

{% set edit_form_action = 'usuario_cambiarcontrasena' %}

{% block pagina_titulo %}Contraseña de {{ entity }}{% endblock %}

{% block pagina_contenido %}
<p>Por favor escriba su nueva contraseña en un lugar seguro.</p>
{{ parent() }}
{% endblock %}
