{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Inspección{% endblock %}

{% block content %}
<h1>Inspección</h1>
<div style="position: absolute; bottom: 0; right: 0;">
    <div>
        <img src="{{ asset('bundles/yacarebase/images/yacare_logo320.png') }}" style="padding: 32px; transform: scaleX(-1);" alt="Yacaré" />
    </div>
</div>
{% endblock %}

