{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Personas{% endblock %}

{% block pagina_contenido %}
{% set destcontrol = app.request.get('destcontrol') %}

<div style="padding-bottom: 10px;">
    <input class="input input-sm" size="50" maxlength="50" autocomplete="off" 
           onkeydown="if (event.keyCode === 13) { $('#filtro_buscar_buscar').click(); return false; }" type="text" id="filtro_buscar" name="filtro_buscar" value="" placeholder="Buscar por nombre o DNI..." />
    <button onclick="buscarPorNombre($('#filtro_buscar').val()); return false;" type="button" class="btn btn-primary btn-sm" id="filtro_buscar_buscar">Buscar</button>
</div>

<div id="resultadosbuscar">
    <p>Puede buscar por nombre, apellido, razón social, DNI, CUIL o CUIT.</p>
</div>

<script>
    function seleccionarItem(id, detalle) {
        yacareEntityIdSeleccionarItem('#{{ destcontrol }}', id, detalle);
        $('#modal').modal('hide');
        $('#modal').html('(re)Cargando...');
    }
    
    function buscarPorNombre(nombre) {
        var url = '{{ path(baseroute ~ '_buscarresultados') }}?filtro_buscar=' + nombre;
        yacareCargarUrlEn(url, '#resultadosbuscar');
    }

    $('#filtro_buscar').focus();
</script>
{% endblock %}

{% block pagina_acciones %}
{% endblock %}