{% extends 'TapirBaseBundle:Default:editar.html.twig' %}

{% block pagina_titulo %}Perfil de {{ entity }}{% endblock %}

{% block pagina_acciones2 %}
    <a data-toggle="modal" data-target="#modal" class="btn btn-link" href="{{ path('usuario_cambiarcontrasena', arrastre|merge({ 'id': entity.id })) }}">Cambiar contraseña</a>
{% endblock %}
