{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Persona{% endblock %}

{% block content_header '' %}

{% block content %}
<table class="table bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Nombre y apellido</th>
            <th>Documento</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><i class="icon-user"></i> <a href="{{ path('yacare_base_persona_editar', { 'id': entity.Id }) }}">{{ entity.Apellido ~ ', ' ~ entity.Nombre }}</a></td>
            <td>{{ entity.NumeroDocumento }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('yacare_base_persona_crear') }}" class="btn"><i class="icon-plus"></i> Alta de nueva persona</a>
{% endblock %}