{% extends 'TapirBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}{{ entitylabelplural }}{% endblock %}

{% block pagina_contenido %}
{% include 'TapirBaseBundle::buscar.html.twig' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a class="btn btn-default btn-xs hidden-print showonhover" href="#{{ entity.id }}" onClick="javascript:alert('Sólo puede editarse desde Sigemi.');"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.Nombre }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'TapirBaseBundle::paginar.html.twig' %}

{% endblock %}

{% block pagina_acciones2 %}
<a href="{{ path(baseroute ~ '_listarexportar') }}" class="btn btn-default"><i class="fa fa-download"></i> Descargar para Excel</a>
{% endblock %}