{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Calles{% endblock %}

{% block content_header '' %}

{% block content %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table">
    <thead>
        <tr>
            <th> </th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a class="btn btn-small" href="#" onClick="javascript:alert('Sólo puede editarse desde Sigemi.');"><i class="icon-edit"></i> Editar</a></td>
            <td>{{ entity.Nombre }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

{% endblock %}