/* 
    Created on : 22/08/2014
    Author     : Ernesto Carrea <equistango@gmail.com>
*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url(../fonts/OpenSans300.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(../fonts/OpenSans400.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	src: local('Source Sans Pro ExtraLight'),
		local('SourceSansPro-ExtraLight'),
		url(../fonts/SourceSansPro-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
		url(../fonts/SourceSansPro-Light.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
		url(../fonts/SourceSansPro-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
		url(../fonts/SourceSansPro-Semibold.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
		url(../fonts/SourceSansPro-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
		url(../fonts/SourceSansPro-Black.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 200;
	src: local('Source Sans Pro ExtraLight Italic'),
		local('SourceSansPro-ExtraLightIt'),
		url(../fonts/SourceSansPro-ExtraLightIt.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 300;
	src: local('Source Sans Pro Light Italic'),
		local('SourceSansPro-LightIt'),
		url(../fonts/SourceSansPro-LightIt.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
		url(../fonts/SourceSansPro-It.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 600;
	src: local('Source Sans Pro Semibold Italic'),
		local('SourceSansPro-SemiboldIt'),
		url(../fonts/SourceSansPro-SemiboldIt.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'),
		url(../fonts/SourceSansPro-BoldIt.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 900;
	src: local('Source Sans Pro Black Italic'),
		local('SourceSansPro-BlackIt'),
		url(../fonts/SourceSansPro-BlackIt.woff) format('woff');
}