/* 
    Created on : 03/07/2014, 20:08
    Author     : Ernesto Carrea <equistango@gmail.com>
*/
html {
	overflow-y: scroll;
}

body {
	margin-top: 0;
}

a.btn-link:hover, a:hover {
	text-decoration: none !important;
}

body, p, label, span, div, td, h1, h2, h3, h4, h5, h6, .inplace-edit {
	cursor: default;
	font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	font-weight: 300;
}

.inplace-edit-control {
    border: none;
    padding: 4px;
    background-color: #f8f9dd;
    width: 100%;
}

.inplace-edit-text p {
	cursor: text;
	-moz-user-select: none !important;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    border-bottom: 1px dashed #EEE;
    text-decoration: none;
}

body, p, label, span, div, td {
	font-size: 11pt;
}

label, .text-label {
	color: #808080;
}

.link {
	cursor: pointer !important;
}

a, button {
	cursor: pointer !important;
	font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	font-weight: 300;
}

h1, legend {
	padding: 0px;
	font-size: 16pt;
	font-weight: 400;
	color: gray;
	margin: 2px 0px;
	/*
    color: rgb(38, 121, 181);
    border-bottom: 1px dotted rgb(226, 226, 226);
     */
}

h1 a {
	font-weight: 400;
}

h2 {
	margin-top: 10px;
	font-size: 14pt;
}

h3 {
	margin-top: 8px;
	font-size: 12pt;
}

h4 {
	margin-top: 6px;
	font-size: 11pt;
}

legend small {
	font-weight: 300;
	line-height: 1;
	color: rgb(153, 153, 153);
}

@media screen and (max-width: 767px) {
	body, p, label, span, div, td {
		font-size: 10pt;
	}
}

@media print {
	body {
		/* min-width: 768px; */
		
	}
	body, p, span, div, td {
		font-size: 9pt;
	}
	@page {
		margin-top: 10mm !important;
		margin-right: 10mm !important;
		margin-bottom: 20mm !important;
		margin-left: 25mm !important;
		padding: 0px;
	}
	#wrapper {
		margin: 0px;
		padding: 0px !important;
		padding-left: 0px !important;
	}
	#page-wrapper {
		margin: 0px;
		padding: 0px !important;
	}
	a[href]:after {
		content: none !important;
	}
	.label {
		font-size: 7pt !important;
		padding: 2px;
		font-weight: 300;
		border: 1px solid gray;
	}
	abbr:after {
		display: none;
		visibility: hidden;
		text-decoration: none;
	}
}

.nav-search {
	position: absolute;
	top: 18px;
	right: 22px;
	line-height: 24px;
}

.form-actions {
	position: absolute;
	top: 18px;
	right: 22px;
	padding: 6px;
	background-color: rgba(255, 255, 255, 0.1);
}

.form-actions2 {
	padding: 6px 12px 6px 12px;
	background-color: #f8f8f8;
}

.form-actions3 {
	position: fixed;
	left: 12px;
	max-width: 200px;
	bottom: 18px;
	z-index: 99999;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	overflow: auto;
	overflow-y: hidden;
}

.pagina-pie {
	padding: 6px 12px 6px 12px;
}

.modal-content {
	border-radius: 0px;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-title {
	font-size: 120%;
	font-weight: bold;
}

.modal-dialog {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

.modal-large {
	width: 80%; /* respsonsive width */
	margin-left: 10%; /* width/2 */
}

.modal-body {
	max-height: 460px;
	overflow: auto;
}

.content-bar-row {
	height: 32px;
	margin-bottom: 12px;
}

.content-bar-block-first {
	height: 32px;
}

.content-bar-block {
	height: 32px;
	padding-left: 8px;
}

.ajax-spinner {
	z-index: 100000;
	position: fixed;
	width: 120px;
	height: 28px;
	left: 50%;
	top: 10px;
	width: 120px;
	margin-left: -60px;
	padding: 4px;
	background-color: #f3e35a;
}

.grilladatos {
	padding: 12px;
}

.grilladatos-renglon {
	border-bottom: 1px dotted #e0e0e0;
	padding-bottom: 4px;
	padding-top: 4px;
}

.grilladatos-etiqueta {
	font-weight: 600;
}

.grilladatos-valor {
	
}

.text-warning {
	color: #D78F14;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

div > *.showonhover {
    opacity: 0;
}

div:hover > *.showonhover {
    opacity: 1;
}