/* 
    Created on : 03/07/2014, 20:08
    Author     : Ernesto Carrea <equistango@gmail.com>
*/
html {
	overflow-y: scroll;
}

body {
	margin-top: 0;
}

@media print {
	a[href]:after {
		content: none !important;
	}
}

a.btn-link:hover {
	text-decoration: none !important;
}

body, p, label, span, div, td, h1, h2, h3, h4, h5, h6 {
	cursor: default;
	font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	font-weight: 300;
}

body, p, label, span, div, td {
	font-size: 11pt;
}

a, button {
	cursor: pointer;
	font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	font-weight: 300;
}

h1, legend {
	padding: 0px;
	font-size: 18pt;
	font-weight: 400;
	color: gray;
	margin: 2px 0px;
	/*
    color: rgb(38, 121, 181);
    border-bottom: 1px dotted rgb(226, 226, 226);
     */
}

h2 {
	margin-top: 10px;
	font-size: 16pt;
}

h3 {
	margin-top: 8px;
	font-size: 14pt;
}

h4 {
	margin-top: 6px;
	font-size: 12pt;
}

legend small {
	font-weight: 300;
	line-height: 1;
	color: rgb(153, 153, 153);
}

@media print {
	@page {
		margin-top: 10mm !important;
		margin-right: 10mm !important;
		margin-bottom: 20mm !important;
		margin-left: 25mm !important;
		padding: 0px;
	}
	#wrapper {
		margin: 0px;
		padding: 0px !important;
		padding-left: 0px !important;
	}
	#page-wrapper {
		margin: 0px;
		padding: 0px !important;
	}
}


.nav-search {
	position: absolute;
	top: 18px;
	right: 22px;
	line-height: 24px;
}

.form-actions {
	position: absolute;
	top: 18px;
	right: 22px;
	padding: 6px;
	background-color: rgba(255, 255, 255, 0.1);
}

.form-actions2 {
	padding: 6px 12px 6px 12px;
	background-color: #f8f8f8;
}

.form-actions3 {
	position: fixed;
	left: 12px;
	max-width: 200px;
	bottom: 18px;
	z-index: 99999;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	overflow: auto;
	overflow-y: hidden;
}

.modal-content {
	border-radius: 0px;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-title {
	font-size: 120%;
	font-weight: bold;
}

.modal-dialog {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

.modal-large {
	width: 80%; /* respsonsive width */
	margin-left: 10%; /* width/2 */
}

.modal-body {
	max-height: 460px;
	overflow: auto;
}

.content-bar-row {
	height: 32px;
	background-color: #f0f0f0;
} 

.content-bar-block-first {
	height: 32px;
}

.content-bar-block {
	height: 32px;
	padding-left: 8px;
}




