{% extends 'TapirBaseBundle::layout.html.twig' %}
{% import 'YacareBaseBundle:Default:macros_yacare.html.twig' as yacare %}

{% block pagina_titulo %}{{ entity }}{% endblock %}

{% block pagina_contenido %}
{% if ultimorastreo %}
    {{ google_map_container(map) }}
    {{ google_map_js(map) }}
{% endif %}


{% endblock pagina_contenido %}

{% block pagina_acciones %}
    <span adata-toggle="ajax-link" onclick="return tapirAtras();" class="btn btn-link"><i class="fa fa-reply"></i> Volver</span>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
    <a href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.id })) }}" class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>
{% endblock pagina_acciones2 %}