{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Disposición de Rastreadores GPS{% endblock %}

{% block pagina_contenido %}

{% if dispositivos %}
	{{ google_map_container(map) }}
    {{ google_map_js(map) }}
{% endif %}


{% endblock %}

{% block pagina_acciones %}
    <span adata-toggle="ajax-link" onclick="return tapirAtras();" class="btn btn-link"><i class="fa fa-reply"></i> Volver</span>
{% endblock pagina_acciones %}