{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Cancelar asignación{% endblock %}

{% block pagina_contenido %}

<legend>Cancelar asignación</legend>

<p>¿Está seguro de que desea eliminar la asignación?</p>

<a class="btn btn-danger" href="{{ path('yacare_inspeccion_relevamientoasignacion_cancelar', { 'id': id, 'confirma': 1 }) }}"><i class="fa fa-trash-o"></i> Eliminar asignación</a>
<a class="btn btn-default" href="{{ path('yacare_inspeccion_relevamientoasignacion_editar', { 'id': id }) }}">Cancelar</a>

{% endblock %}