{% extends 'TapirBaseBundle::layout.html.twig' %} {% block pagina_titulo
%}Compras{% endblock %} {% block pagina_contenido %}
<ul class="breadcrumb">
	<li><a data-toggle="ajax-link"
		href="{{ path('yacare_compras_default_inicio') }}">Compras</a></li>
</ul>

<a data-rel="tooltip" class="well span3 top-block"
	href="{{ path('yacare_compras_licitacion_listar') }}"> <span
	class="icon32 icon-blue icon-book"></span>
	<div>Licitaciones</div>
</a>

<div style="position: absolute; bottom: 0; right: 0;">
	<div>
		<img src="{{ asset('bundles/yacarebase/images/yacare_logo320.png') }}"
			style="padding: 32px; transform: scaleX(-1);" alt="Yacaré" />
	</div>
</div>
{% endblock %}

