{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_inicio %}
    {% if (edit_form_action is defined) == false %}
        {% set edit_form_action = baseroute ~ '_guardar' %}
    {% endif %}
    {{ form_start(edit_form, {
            'action': path(edit_form_action, arrastre|merge({ 'id': entity.id, 'hisapi': 0, 'form': app.request.query.get('form') })),
            'method': 'POST',
            'attr': { 'id': edit_form.vars.id }
        }) }}
{% endblock %}

{% block pagina_acciones %}
    <button 
    	{% if tapir_modal is not defined or tapir_modal == 0 %}
    		onclick="return tapirAtras();"
    	{% else %}
    	    data-dismiss="modal"
    	{% endif %}
    	class="btn btn-default">Cancelar</button>
    <button type="submit" value="Guardar" class="btn btn-primary">
    	<i class="fa fa-check"></i> Guardar
    </button>
{% endblock %}

{% block pagina_acciones2 %}
    {% if delete_form is defined and not delete_form is null and entity.id %}
        <a data-toggle="ajax-link" class="btn btn-danger"
            href="{{ path(baseroute ~ '_eliminar', arrastre|merge({ 'id': entity.id })) }}">
        <i class="fa fa-trash-o"></i> Eliminar </a>
    {% endif %}
{% endblock %}

{% block pagina_fin %}
    {{ form_end(edit_form) }}
{% endblock %}
