<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="description" content="{{ tapir_nombreaplicacion }}">
<meta name="author" content="Ernesto N. Carrea">
<title>{{ tapir_nombreaplicacion }} - cerrar sesión</title>
</head>

<body>
	<p>Desconectado</p>
</body>
</html>

