{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Eliminar{% endblock %}

{% block content %}

{% form_theme delete_form 'YacareBaseBundle:Form:form_div_layout.html.twig' %}

{% if entity %}
<form class="form-horizontal" action="{{ path(bundlename ~ '_' ~ entityname ~ '_eliminar2', { 'id': entity.id }) }}" method="post">
	{{ form_widget(delete_form) }}
        <legend>Eliminar {{ entity }}</legend>
        
        <p>¿Está seguro de que desea eliminar de forma permanente el elemento seleccionado?</p>
        
        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Eliminar</button>
        &nbsp;&nbsp;&nbsp;
        <a href="{{ path(bundlename ~ '_' ~ entityname ~ '_editar', { 'id': entity.id }) }}" class="btn"><i class="icon icon-reply"></i> Cancelar</a>
</form>
{% endif %}

{% endblock %}