{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Eliminar{% endblock %}

{% block content %}

{% if entity %}
<legend>Eliminar {{ entity }}</legend>

<p>Se eliminó {{ entity }}</p>
{% endif %}

{% endblock %}