<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Sistema de gestión municipal Yacaré">
    <meta name="author" content="Ernesto N. Carrea">
    <title>Yacaré - cerrar sesión</title>
  </head>

<body>
    <p>Desconectado</p>
</body>
</html>

