{% extends 'YacareBaseBundle::email.html.twig' %}
{% block pagina_contenido %}<p>Este es un mail enviado automaticamente por Yacaré.</p>

<h2>Se ha creado satisfactoriamente su reclamo en la base de datos.</h2>
<p>{{ novedad_notas }}</p>
{% endblock %}