{% extends 'YacareBaseBundle::email.html.twig' %}
{% block pagina_contenido %}
    <h2>¡Le agradecemos que se tome el tiempo para ponerse en contacto con su Municipio!</h2>
    
    <p>Recibimos sus comentarios, consultas y sugerencias con entusiasmo.</h2>
    <p>{{ novedad_notas }}</p>
    {% if numero_seguimiento %}
        <p>El número de seguimiento de su solicitud es {{ numero_seguimiento }}.</p>p>
        <p>Puede consultar el estado de su solicitud en cualquier momento visitando la siguiente página:
        	<a href="http://www.riogrande.gob.ar/reclamos/consultar/?seg={{ numero_seguimiento }}">http://www.riogrande.gob.ar/reclamos/consultar/?seg={{ numero_seguimiento }}</a>
        </p>
    {% endif %}
    <hr />
    <p>Este es un mensaje generado de forma automática. Por favor no responda a este mensaje. Si desea consultar
    	el estado de su solicitud utilice la página provista.</p>
{% endblock %}