{% extends 'YacareBaseBundle::email.html.twig' %}
{% block pagina_contenido %}
    <h2>Tenemos novedades sobre su solicitud</h2>
    <p>{{ novedad_notas }}</p>
    <hr />
    <p>Este es un mensaje generado de forma automática. Por favor no responda a este mensaje. Si desea consultar
    	el estado de su solicitud utilice la página provista.</p>
{% endblock %}