{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Relevamientos{% endblock %}

{% block content_header '' %}

{% block content %}
<table class="table bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('yacare_inspeccion_relevamiento_editar', { 'id': entity.Id }) }}">{{ entity.Nombre }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('yacare_inspeccion_relevamiento_editar_1') }}" class="btn"><i class="icon-plus"></i> Iniciar nuevo relevamiento</a>
{% endblock %}