{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Preparar relevamiento{% endblock %}

{% block content_header '' %}

{% block content %}

<legend>Preparar relevamiento</legend>
<div>
Se asignaron {{ total_partidas }} partidas.
</div>
<br />
<a href="{{ path('yacare_inspeccion_relevamiento_editar', { 'id': entity.Id }) }}" class="btn"> Volver al relevamiento</a>
{% endblock %}