{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Departamentos{% endblock %}

{% block pagina_contenido %}
{% include 'YacareBaseBundle::buscar.html.twig' %}

<div class="tree">
{% set lastNodeLevel = -1 %}
{% for entity in entities %}
    {% if entity.NodeLevel == lastNodeLevel %}
        </li>
    {% endif %}
    {% if entity.NodeLevel <= lastNodeLevel - 1 %}
        {# Desciende un nivel #}
        </li></ul>
    {% endif %}
    {% if entity.NodeLevel <= lastNodeLevel - 2 %}
        {# Por si desciende dos niveles de una vez #}
        </li></ul>
    {% endif %}
    {% if entity.NodeLevel <= lastNodeLevel - 3 %}
        {# Por si desciende 3 niveles de una vez #}
        </li></ul>
    {% endif %}

    {% if entity.NodeLevel > lastNodeLevel %}
        <ul>
    {% endif %}
    
    <li><span>
            {% if entity.LeafNode and 0 %}<i class="fa fa-minus-circle"></i>{% endif %}
            <a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.Id })) }}"><i class="fa fa-edit"></i> Editar</a> {{ entity.Nombre }} 
            
            <ll class="label label-{% if entity.rango == 30 %}warning{% elseif entity.rango == 50 %}info{% else %}primary{% endif %}">{{ entity.RangoNombre }}</ll>
        </span>
    
    {% set lastNodeLevel = entity.NodeLevel %}
{% endfor %}
</div>


<script>
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Contraer esta rama');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expandir esta rama').find(' > i').addClass('fa-plus-circle').removeClass('fa-minus-circle');
        } else {
            children.show('fast');
            $(this).attr('title', 'Contraer esta rama').find(' > i').addClass('fa-minus-circle').removeClass('fa-plus-circle');
        }
        e.stopPropagation();
    });
});
</script>

{% include 'YacareBaseBundle::paginar.html.twig' %}

{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path('yacare_organizacion_departamento_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo departamento</a>
{% endblock %}