{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}{{ entity }}{% endblock %}

{% block pagina_contenido %}
<objeto>
	<renglon>
		<etiqueta>
			Nombre
		</etiqueta>
		<valor>
			{{ entity.Nombre }}
		</valor>
	</renglon>
</objeto>

{% endblock %}

{% block pagina_acciones2 %}
    {{ parent() }}
    <a data-toggle="ajax-link" class="btn btn-default hidden-print" href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Editar</a>
    <button data-dismiss="modal" class="btn btn-default hidden-print"><i class="fa fa-reply"></i> Volver</button>
{% endblock %}
