/* 
    Created on : 23/09/2014, 10:55
    Author     : Ernesto Carrea <ernestocarrea@gmail.com>
    Description: Estilos para formularios y botones
*/
input, select, textarea {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 0px !important;
	/* vertical-align: middle;
    border: 1px solid rgb(204, 204, 204);
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin: 0px;
    
    height: 34px; 
    padding: 6px 12px; 
    line-height: 1.42857; */
}

.tapir-input-120 {
	min-width: 120px;
    max-width: 120px;
    width: 120px !important;
}

.tapir-input-240 {
	min-width: 240px;
	max-width: 240px;
	width: 240px !important;
}

.tapir-input-320 {
    min-width: 320px;
    max-width: 320px;
    width: 320px !important;
}

.tapir-input-480 {
    min-width: 480px;
    max-width: 480px;
    width: 480px !important;
}

.input-group-addon {
	border-radius: 0px !important;
}

.btn {
	border-radius: 2px;
	/* font-size: 11pt;
	padding: 6px 16px 6px 16px; */
}

.form-horizontal .form-group {
	margin-right: 5px;
	margin-left: 0px;
}

.form-inline .form-group {
	vertical-align: initial;
}

.required {
	/* color: #800000; */
	white-space: nowrap;
}

.required:after {
	color: red;
	content: ' *';
}

.tapir-input-cuilt {
	max-width: 240px;
}

.tapir-input-documento {
	max-width: 240px;
}

/* Personalización de Select2 */

.select2-container .select2-selection--single {
	height: 34px !important;
}

.select2-dropdown {
    border-radius: 0px;
}

.select2-container--default .select2-selection--single {
  border-radius: 0px;
  border: 1px solid rgb(204, 204, 204);
}

.select2-container--default .select2-selection--single:focus {
  border: 1px solid #66AFE9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0px;
}

.select2-container--default .select2-selection--multiple:focus {
  border: 1px solid #66AFE9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
